
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}




body {
    background: #f2f4f8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background: #ffffff;
    width: 350px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.header {
    margin-bottom: 20px;
}

.header h2 {
    font-size: 20px;
    color: #222;
}

.header p {
    font-size: 13px;
    color: #777;
}

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
}

.field {
    margin-bottom: 16px;
}

.field label {
    font-size: 13px;
    color: #555;
    display: block;
    margin-bottom: 6px;
}

.field input[type="text"],
.field input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
}

.stars {
    color: #ddd;
    font-size: 18px;
}

input[type="range"] {
    width: 100%;
}

.range-text {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
}

.upload-box {
    border: 2px dashed #ccc;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: #777;
    font-size: 13px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    background: #6366f1;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #4f46e5;
}